@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  border-right: 3px solid #353945;
}

.app__effect {
  position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../assets/effect.png");
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
}

.title {
  background: rgba(23, 23, 25, 0.6);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 4px;
  border-radius: 16px;
}

.card {
  border: 6px solid white;
  border-radius: 16px;
  opacity: 0.6;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.inp:checked + .slider {
  background-color: #2196F3;
}

.inp:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.inp:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bar{
  border-bottom: 1px solid white;
}

.inp2{
  outline: 0;
  padding-left:6px;
  line-height: 30px;
  background-color: #777e90;
  color: white;
  border-radius: 10px;
}

.image {
  border-right: 2px solid white;
}

.design {
  background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 80%)
}